{% extends "base.html" %}	
{% block header %}
<header>
	<div class="navbar-fixed">
		<nav class="top-nav blue-grey darken-1">
			<div class="nav-wrapper container">
				<a href="/" class="brand-logo">Dorm</a>
				<ul class="right hide-on-med-and-down">
					<li><a href="/login/">登陆</a></li>
				</ul>
			</div>
		</nav>
	</div>
</header>
{% endblock header %}

{% block mainbody %}
<div class="row container">
	{% block card_content %}

	{% endblock card_content %}
	{% block card_form %}

	{% endblock card_form %}
</div>
{% endblock mainbody %}